#traderToolsButton, #miniViewButton {
    padding: 3px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px; /* Adjust size here */
}

#traderToolsButton {
    background-color: #28A745; /* Green */
}

#miniViewButton {
    background-color: #007BFF; /* Blue */
}

